th ,td{
    text-align:center
}
th{
    color:rgb(0,173,238)
}
.page-title-area {
   
    background: {
        size: cover;
        repeat: no-repeat;
        image: url(../../../../assets/img/myImage/n.png);
     
    };
}
.all{
    background: {
        size: cover;
        repeat: no-repeat;
        image: url(../../../../assets/img/myImage/الخلفية.png);
     
    };  
}