.page-title-area {
    // height: 300px;
    background: {
        size: cover;
        repeat: no-repeat;
        image: url(../../../../assets/img/myImage/faq.png);
       
    };
}
.content{
    margin-top: 10%;
    margin-bottom: 10%;
}
.all{
    background: {
        size: cover;
        repeat: no-repeat;
        image: url(../../../../assets/img/myImage/الخلفية.png);
     
    };  
}