<section class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1 >{{'wallet'|translate}} </h1>
        </div>
    </div>

</section>




<div class="all">
<div class="chargingContainer" [ngStyle]="{'direction': lang ?  'rtl': 'ltr' }" style="padding-top:5%;padding-bottom:5%">
   <!-- <div class="shadow" style="background-color: black;"> -->


        <div class="myGrid">

        <div  class="walletAddress" style="margin: 0px; text-align: center;">
            <h2 style="color: white; margin-left:0px"> {{'mywallet'|translate}}</h2>
            <div class="card1" >
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <i class="fa fa-briefcase" aria-hidden="true" style="color:white;
                font-size: 3rem"></i>
                <div class="card-body">
                  <p class="card-text" style="color:white;">{{payload}}</p>

              <!-- </div> -->
            <!-- <h2 style="color: white;margin: 0px;text-align: center;"> {{'mywallet'|translate}}</h2>

              <h4 style="color: white;margin: 0px;text-align: center;"> {{payload}}</h4> -->
           </div>
        </div>
        </div>
<div  class="myForm">
<h4 [ngStyle]="{'text-align': lang ?  'right': 'left' }" style="font-size: 2rem; margin:0px" >
    {{'Charging' | translate }}
</h4>
<!-- <hr style="width:89% ; margin-top: 35px;"> -->
<form [formGroup]="Form" (ngSubmit)="charge()" style="margin-top: 1rem;">
    <div class="container">
    <div class="row" style="    margin-right: 3%;margin-left: 3%;">
<div class="col-lg-12 center start">
<h3 style="color: white;text-align: right;" *ngIf="lang" style="margin-bottom: 1rem;color:white" >اختر طريقة الشحن </h3>
<h3 style="color: white;text-align: left;"  *ngIf="!lang"  style="margin-bottom: 1rem;color:white" >  Choose a charge method </h3>
<div class="row">

        <!-- <div class="col-lg-3 col-sm-6">
            <div class="card" (click)="clickAMEX()" id="amex">
            <img src="../../../../assets/img/charge/amex.jfif" class="iconch">
            <p style="color: white;">AMEX</p>
        </div>
    </div> -->

    <!-- <div class="col-lg-3 col-sm-6">
        <div class="card" (click)="clickBOOKEEY()  " id="bookey">
        <img src="../../../../assets/img/charge/bookey2.png" class="iconch">
        <p style="color: white;">BOOKEEY</p>
        </div>
    </div> -->
    <!-- <div class="col-lg-6 col-sm-6"> -->
        <!-- <div class="card" (click)="clickcredit() " id="credit">
        <img src="../../../../assets/img/charge/maxresdefault.jpg" class="iconch">
        <p style="color: white;"> CREDIT</p>
        </div> -->
    <!-- </div> -->
    <div class="col-lg-6 col-sm-6 minWidth">
        <div class="card" (click)="clickKNET()" id="KNET" style="width:90%">
        <img src="../../../../assets/img/charge/kk.png" class="iconch">

        </div>
    </div>
</div>
</div>
<br>
<br>

        <div class="col-lg-6 col-md-6" style="margin-top: 3%;">
            <div class="form-group">
                <input type="text" name="amount" id="amount" class="form-control"required data-error="" placeholder="{{'amount'| translate}}"
                formControlName="amount" style="max-width: 90%;"
                [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">

               <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                <div *ngIf="f.amount.errors.required && lang" style="float: right;">  يجب إدخال الحقل</div>
                <div *ngIf="f.amount.errors.required && !lang">filed is required</div>

            </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 center">

            <button type="submit" class="default-btn"  [ngStyle]="{'float': lang ?  'right': 'left' }" style="">{{'Charging'| translate}}
                <i class="fa fa-cog fa-spin" style="color: white;" *ngIf="loading"></i>
            </button>
        </div>
    </div>
</div>
</form>
</div>
</div>
<div class="chargingTable">
<h4 [ngStyle]="{'text-align': lang ?  'right': 'left' }" style="      margin-top: 3%;  margin-left: 72px; ">{{'my chargings' | translate }}</h4>
<!-- <hr style="width:89% ;margin-top: 72px;"> -->

<div class="cart-table table-responsive" *ngIf="!lang" style="margin-left:25%" [ngStyle]="{'direction': lang ?  'rtl': 'ltr' }">
<table class="table table-bordered" style="border-bottom: none;" >
    <thead>
        <tr class="a">

                <th scope="col " class=" thBorder" style="border-bottom: 1px solid white;"> date</th>
                <th scope="col " class=" thBorder" style="border-bottom: 1px solid white;">{{'amount' | translate }}</th>
                <th scope="col " class=" thBorder" style="border-bottom: 1px solid white;">{{'method' | translate }}</th>




        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let h of hist"  >
            <td class="product-thumbnail" >
                {{h.updated_at.slice(0, 10)}}
             </td>

            <td class="product-thumbnail" >
               {{h.amount}}
            </td>
            <td class="product-thumbnail" >
                {{h.method}}
             </td>


        </tr>





    </tbody>
</table>
</div>

<div class="cart-table table-responsive" *ngIf="lang"  [ngStyle]="{'direction': lang ?  'rtl': 'ltr' }" style="    margin-right: 17%;">
    <table class="table table-bordered" style="border-bottom: none;" >
        <thead>
            <tr  class="a">

                    <th scope="col " class="thBorder" *ngIf="lang" style="border-bottom: 1px solid white;">التاريخ</th>


                    <th scope="col " class=" thBorder" style="border-bottom: 1px solid white;">{{'amount' | translate }}</th>
                    <th scope="col " class=" thBorder" style="border-bottom: 1px solid white;">{{'method' | translate }}</th>




            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let h of hist"  >


                <td class="product-thumbnail" >
                    {{h.updated_at.slice(0, 10)}}
                 </td>
                <td class="product-thumbnail" >
                   {{h.amount}}
                </td>
                <td class="product-thumbnail" >
                    {{h.method}}
                 </td>


            </tr>





        </tbody>
    </table>
    </div>
</div>
</div>
</div>
