<div class="all">
    <section class="">
        <div class="container">
            <div class="page-title-content">
                <h1 *ngIf="!lang" style="margin-top:2rem ;">purshased Services Details</h1>
                <h1 *ngIf="lang" style="margin-top: 2rem;">  تفاصيل الخدمات المشتراة</h1>
            </div>
        </div>


    </section>

    <section class="cart-area ptb-100 " >
        <div class="container ">


                <div class=" table-responsive scrollable" >

                    <i class="bi bi-list moreDetails"
                    (click)="wideTable($event.currentTarget)">

                   </i>
                    <table class="table table-bordered "
                   >
                        <thead style="white-space: nowrap;">
                            <tr>
                                <th scope="col" *ngIf="lang" > اسم الخدمة</th>
                                <th scope="col" *ngIf="!lang" >Service Name</th>

                                <th scope="col" *ngIf="lang" > التاريخ</th>
                                <th scope="col" *ngIf="!lang" >Service Date</th>

                                <th scope="col" *ngIf="lang" > الكلفة</th>
                                <th scope="col" *ngIf="!lang" >Cost</th>

                                <th scope="col" *ngIf="lang" > الكمية</th>
                                <th scope="col" *ngIf="!lang" >Quantity</th>


                                <th scope="col" *ngIf="lang" > رابط الحساب</th>
                                <th scope="col" *ngIf="!lang" >ِAccount Link</th>

                                <th scope="col" *ngIf="lang" >  التعليقات</th>
                                <th scope="col" *ngIf="!lang" >Comments </th>

                                <th scope="col" *ngIf="lang" >  المناشير</th>
                                <th scope="col" *ngIf="!lang" >Posts </th>

                                <th scope="col" *ngIf="lang" >  رقم الاجابة</th>
                                <th scope="col" *ngIf="!lang" >Answer Number </th>

                                <th scope="col" *ngIf="lang" >  أسماء المستخدمين</th>
                                <th scope="col" *ngIf="!lang" >User Names </th>

                                <th scope="col" *ngIf="lang" >  عدد البداية </th>
                                <th scope="col" *ngIf="!lang" > Start Count </th>

                                <th scope="col" *ngIf="lang" >  الحالة</th>
                                <th scope="col" *ngIf="!lang" >Status </th>

                                <th scope="col" *ngIf="lang" >  المتبقي</th>
                                <th scope="col" *ngIf="!lang" >ٌRemain </th>

                                <th scope="col" *ngIf="lang" > وصف الخدمة</th>
                                <th scope="col" *ngIf="!lang" >Service Discription</th>


                                <!-- <th scope="col">{{'delete' | translate }}</th> -->
                            </tr>
                        </thead>

                        <tbody >

                            <tr  class="aa" *ngFor="let cart of targetOrder.orders"  >

                                <td class="product-thumbnail tableData" >
                                   {{lang? cart.service.name_ar :cart.service.name_en }}
                                </td>

                                <td class="product-thumbnail tableData">
                                    {{dateFormat(cart.service.created_at)}}
                                </td>

                                <td class="product-thumbnail tableData">

                                        {{cart.cost}} {{lang? "دينار كويتي":"KWD"}}

                                </td>

                                <td class="product-thumbnail tableData">

                                    {{cart.quantity}}

                                </td>

                                <td class="product-thumbnail tableData">

                                    {{cart.link}}

                                </td>
                                <td class="product-thumbnail tableData">

                                    {{cart.comments !== null? cart.comments : '-'}}

                                </td>
                                <td class="product-thumbnail tableData">

                                    {{cart.posts !== null? cart.posts : '-'}}

                                </td>
                                <td class="product-thumbnail tableData">

                                    {{cart.answer_number !== null? cart.answer_number : '-'}}

                                </td>
                                <td class="product-thumbnail tableData">

                                    {{cart.usernames !== null? cart.usernames : '-'}}

                                </td>
                                <td class="product-thumbnail tableData">

                                    {{cart.details.start_count }}

                                </td>
                                <td class="product-thumbnail tableData"   >


                                    <i *ngIf="cart.details.status === 'Completed'"
                                     style="color:white; font-size: large;"
                                      class="bi bi-check2-circle"></i>
                                      <i *ngIf="cart.details.status === 'Canceled'"
                                      style="color:red; font-size: large;"
                                      class="bi bi-x-circle-fill"></i>


                                </td>

                                <td class="product-thumbnail tableData">

                                    {{cart.details.remains }}

                                </td>
                                <td class="product-thumbnail fixedWidth">

                                    <div class="accordion-item">

                                        <button (click)="panelExpansion()" class="panel"
                                             >
                                            {{lang ? cart.service.short_description_ar : cart.service.short_description_en}}
                                        </button>

                                    <div id="collapseOne"  >
                                        <div class="accordion-body">
                                            {{lang ? cart.service.long_description_ar:cart.service.long_description_en}}
                                        </div>
                                    </div>
                                    </div>

                                </td>
                            </tr>




                        </tbody>
                    </table>
                </div>
