<section class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1 style="float: left; color: rgb(13,72,108);
            margin-top: -40px;">{{'verifyEmail' | translate }}</h1>
        </div>
    </div>

</section>
<div class="all">
<div class="container" [ngStyle]="{'direction': lang ?  'rtl': 'ltr' }" style="padding-top: 5%;padding-bottom: 5%;">
    <div class="row align-items-center body">
        <div class="col-lg-12 col-md-12">
            <div class="analysis-form">
                <form  [formGroup]="verifyEmailForm" (ngSubmit)="verify()">
                    <div class="row" >
                     <div class="container">


                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="{{'email' | translate }}"
                                formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required && lang" style="float: right;">الايميل مطلوب</div>
                                        <div *ngIf="f.email.errors.required && !lang">Email is required</div>
                                        <div *ngIf="f.email.errors.email && lang" style="float: right;">يجب أن يكون البريد الإلكتروني عنوان
                                            بريد إلكتروني صالح</div>
                                        <div *ngIf="f.email.errors.email && !lang">Email must be a valid email address
                                        </div>
                                    </div>
                            </div>
                        </div>

                        
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email_verification_code" placeholder="{{'verifyEmailCode' | translate }}"
                                formControlName="email_verification_code"
                                [ngClass]="{ 'is-invalid': submitted && f.email_verification_code.errors }">
                                <div *ngIf="submitted && f.email_verification_code.errors" class="invalid-feedback">
                                    <div *ngIf="f.email_verification_code.errors.required && lang" style="float: right;">الحقل مطلوب</div>
                                    <div *ngIf="f.email_verification_code.errors.required && !lang">failed is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                         
                      
                    </div>
                    <div style="margin: 0px; float: left;">
                    <button type="submit" class="default-btn" >{{'send'|translate}} 
                        <i class="fa fa-cog fa-spin" style="color: white;" *ngIf="loading"></i>
                    </button> 
                
                
                    <button *ngIf="v==0" type="submit" class="default-btn" style="margin-left:20px" (click)="resend()">{{'re'|translate}} 
                        <i class="fa fa-cog fa-spin" style="color: white;" *ngIf="loading1"></i>
                    </button> 
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>